.bckg_lover {
    background-color: hsl(350, 100%, 88%, 0.5);
    float:left;
    width: 100%;
    user-select: none;
}

.bckg_red {
    background-color: hsl(34, 57%, 70%, 0.5);
    float:left;
    width: 100%;
    user-select: none;
}

.bckg_1989 {
    background-color: lightblue;
    float:left;
    width: 100%;
    user-select: none;
}

.tit_lover {
    font-size: 80px;
    color: rgba(223, 16, 185, 0.9);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.3em;
    user-select: none;
}

.tit_red {
    font-size: 90px;
    color: rgb(255, 0, 0, 0.9);
    font-family:fantasy;
    text-align: center;
    letter-spacing: 0.3em;
    user-select: none;
}

.tit_1989 {
    font-size: 90px;
    color: white;
    font-family:fantasy;
    text-align: center;
    letter-spacing: 0.3em;
    user-select: none;
}

.lover {
    margin: 2.5px;
    float: left;
    height: 900px;
    width: 33%;
    user-select: none;
}

.right {
    font-size: 25px;
    color: cornsilk;
    float: right;
    text-decoration: none;
    user-select: none;
}

.left {
    font-size: 25px;
    color: cornsilk;
    float: left;
    text-decoration: none;
}

.red {
    margin: 2.5px;
    float: left;
    height: 850px;
    width: 33%;
}

.numbers {
    margin: 2.5px;
    float: left;
    height: 850px;
    width: 33%;
}