<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Red</title>
    <link rel="icon"
        href="https://img1.baidu.com/it/u=2205130179,4180196576&fm=253&fmt=auto&app=138&f=JPEG?w=475&h=475">
</head>

<body>
    <div class="bckg_red">
        <hr>
        <div class="tit_red">Red</div>
        <a class="left" href="{% url 'index' %}">to lover</a>
        <a class="right" href="{% url '1989' %}">to 1989</a>
        <hr>

        <br>
        <img class="red" src="{% static 'photos/red0.png' %}" alt="photo">
        <img class="red" src="{% static 'photos/red2.png' %}" alt="photo">
        <img class="red" src="{% static 'photos/red1.png' %}" alt="photo">
    </div>
</body>

</html>